

<% if flash[:errorz] %>
    <p style="color:red"><%= flash[:errorz] %></p>
<% end %>

<%= form_for([@review, @review.comments.build]) do |f| %>
    <%= f.text_area :content %>
    <%= f.submit %>
<% end %>

