<div class="body-margin">
<h1>Traveler Reviews</h1>

<button type="button" class="btn btn-light">
    <%= link_to "New Review", new_review_path(@review) %> 
</button>
<br>
<br>

<% @reviews.each do |review| %>
    <p><%= link_to review.title, review_path(review) %>| City:<%= review.place.name %></p>
<% end %>
</div>


