
<style>
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    grid-gap: 20px 10px
  
  }
.card {
    padding: 20px;
    font-size: 20px;
    text-align: left;
  }
</style>

<h1 style="text-align:center">Vagabond</h1>

<nav style="text-align:right">
  <form action="<%= places_path %>">
    <input type="text" placeholder="Where to?" name="search_key">
    <button type="submit">Search</button>
  </form>
</nav>

<div class="grid-container">
<% @places.each do |place| %>
<div class="card" style="width: 24rem;">
  <img class="card-img-top" src="<%= place.image %>" alt="<%= place.name%>">
  <div class="card-body">
    <p class="card-text"><%= link_to place.name, place_path(place.id) %></p>
    </div>
</div>
<% end %>
</div>




