<div class="body-margin">


<h1><%= @place.name%></h1>
   <img src="<%= @place.image %>" alt="<%= @place.name%>">
<h4> Traveler Reviews </h4>
<ul>
   <% @place.reviews.each do |review| %>
      <li><%= link_to review.title, review_path(review) %></li>
   <% end %>
</ul>

</div>

